body{
	background-image: url("../register%2520page%2520and%2520prediction%2520page/sad1.jpg");
	background-size: cover;
}
.congrats{
	margin:4% auto 0;
	color:#fff;
	font-size:30px;
	text-align:center;
	color:#C0C0C0;
}